@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
}

h1 ,p, body{
    margin: 0;
    padding: 0;
}

$very-dark-blue:hsl(233, 47%, 7%);
$dark-desaturated-blue: hsl(244, 38%, 16%);
$soft-violet:hsl(277, 64%, 61%);
$color-white: hsl(0, 0%, 100%);
$slightly-transparent-white:hsla(0, 0%, 100%, 0.75);

html {
    @media screen and (max-width: 960px){
        font-size: 14px;
    }
}

body {
    background-color: $very-dark-blue;
    font-family: 'Inter', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 30px;

    @media screen and (max-width: 960px) and (min-width: 500px){
        padding: 70px;
    }

    @media screen and (max-width: 500px){
        padding: 20px;
        height: auto;
    }
}

.card {
    display: flex;
    background-color: $dark-desaturated-blue;
    width: 1100px;
    border-radius: 10px;

    @media screen and (max-width: 960px){
        flex-direction: column-reverse;
    }

    &__body {
        position: relative;
        flex-basis: 55%;
        color: white;
        padding: 60px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        @media screen and (max-width: 960px){
            padding: 40px 30px;
            align-items: center;
            text-align: center;
        }
    }

    &__title {
        color: $color-white;
        font-size: 2.1rem;
        font-weight: 700;
        padding-right: 90px;
        margin-bottom: 20px;

        span {
            color: $soft-violet;
        }

        @media screen and (max-width: 960px){
            margin-bottom: 16px;
            padding-right: 0;
            text-align: center;
            font-size: 1.9rem;
        }
    }

    &__txt {
        color: $slightly-transparent-white;
        padding-right: 100px;
        line-height: 1.5;
        margin-bottom: 10px;
        font-size: 1rem;
        width: 100%;

        @media screen and (max-width: 960px){
            padding: 0;
            line-height: 1.6;
        }
    }

    &__img {
        flex-basis: 45%;
        height: 440px;
        background-image: url('./../images/image-header-desktop.jpg');
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        border-radius: 0px 10px 10px 0px;

        @media screen and (max-width: 960px){
            flex-basis: auto;
            height: 24vh;
            border-radius: 10px 10px 0px 0px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $soft-violet;
            opacity: 0.6;
            border-radius: 0px 10px 10px 0px;

            @media screen and (max-width: 960px){
                border-radius: 10px 10px 0px 0px;
            }
        }
    }

    &__stats {
        position: absolute;
        bottom: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        @media screen and (max-width: 960px){
            position: initial;
            flex-direction: column; 
            display: block; 
        }

        div:not(:last-child) {
            margin-right: 60px;

            @media screen and (max-width: 960px){
                margin-right: 0;
                margin-bottom: 30px;
            }
        }

        h2 {
            padding: 0;
            margin-bottom: 5px;
            font-size: 23px;
        }

        p {
            text-transform: uppercase;
            color: $slightly-transparent-white;
            padding: 0;
            margin: 0;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1.5px;
        }
    }
}